opencv-python~=4.5.5.64
matplotlib~=3.5.1
numpy~=1.22.3
pandas~=1.4.2
pyjokes~=0.6.0
pytesseract~=0.3.9
pyttsx3~=2.90
pywhatkit~=5.3
requests~=2.27.1
wikipedia~=1.4.0
wolframalpha~=5.0.0
googletrans~=4.0.0rc1
gTTS~=2.2.4
keras~=2.8.0
Kivy~=2.1.0
playsound~=1.2.2
sklearn~=0.0
scikit-learn~=1.0.2